*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: rgb(161, 100, 223);
}

.btn {
  cursor: pointer;
  background-color: rebeccapurple;
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  opacity: 0.9;
}
